<%= form_for [@brand, @product], html: { multipart: true } do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :product_type %><br>
    <%= f.text_field :product_type %>
  </div>
  <div class="field">
    <%= f.label :product_subtype %><br>
    <%= f.text_field :product_subtype %>
  </div>
  <div class="field">
    <%= f.label :vintage %><br>
    <%= f.text_field :vintage %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :appellation %><br>
    <%= f.text_field :appellation %>
  </div>
  <div class="field">
    <%= f.label :vineyard %><br>
    <%= f.text_field :vineyard %>
  </div>
  <div class="field">
    <%= f.label :grape_varietals %><br>
    <%= f.text_field :grape_varietals %>
  </div>
  <div class="field">
    <%= f.label :clones %><br>
    <%= f.text_field :clones %>
  </div>
  <div class="field">
    <%= f.label :soil %><br>
    <%= f.text_area :soil %>
  </div>
  <div class="field">
    <%= f.label :plot_characteristics %><br>
    <%= f.text_area :plot_characteristics %>
  </div>
  <div class="field">
    <%= f.label :yield %><br>
    <%= f.text_field :yield %>
  </div>
  <div class="field">
    <%= f.label :vineyard_practices %><br>
    <%= f.text_field :vineyard_practices %>
  </div>
  <div class="field">
    <%= f.label :harvest %><br>
    <%= f.text_field :harvest %>
  </div>
  <div class="field">
    <%= f.label :yeast %><br>
    <%= f.text_field :yeast %>
  </div>
  <div class="field">
    <%= f.label :accolades %><br>
    <%= f.text_area :accolades %>
  </div>
  <div class="field">
    <%= f.label :producer %><br>
    <%= f.text_field :producer %>
  </div>
  <div class="field">
    <%= f.label :bottle_size %><br>
    <%= f.text_field :bottle_size %>
  </div>
  <div class="field">
    <%= f.label :vinification_methods %><br>
    <%= f.text_field :vinification_methods %>
  </div>


  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :remote_image_url, "or image URL" %><br>
    <%= f.text_field :remote_image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>