<h2><%= @brand.name %></h2>
<div class="row">
  <div class="col-md-8">
    <p>
      <strong>Description: </strong><%= simple_format(@brand.description) %>
      <p><strong><%= link_to "Website", @brand.website %></strong></p>
    </p>
    <div class="row">
      <div class="col-md-6">
        <p><strong>Viticulture:</strong> <%= @brand.viticulture %></p>
        <p><strong>Country:</strong> <%= @brand.country %></p>
        <p><strong>Region:</strong> <%= @brand.region %></p>
        <p><strong>Appellation:</strong> <%= @brand.appellation %></p>
        <p><strong>Varietal:</strong> <%= @brand.varietal %></p>
      </div>
      <div class="col-md-6">
        <p><strong>Soil Type:</strong> <%= @brand.soil_type %></p>
        <p><strong>Enologist:</strong> <%= @brand.enologist %></p>
        <p><strong>Viticulturist:</strong> <%= @brand.viticulturist %></p>
        <p><strong>Vineyard Size:</strong> <%= @brand.vineyard_size %></p>
        <p><strong>Total Production:</strong> <%= @brand.total_production %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <p><%= image_tag @brand.image_url(:medium).to_s %></p>
    <% if current_user && current_user.admin? %>
      <p><%= link_to 'Edit Brand', edit_brand_path(@brand) %> </p>
      <p><%= link_to 'Delete Brand', @brand, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %> 
  </div>
</div>

<hr />

<%= image_tag @product.image.url(:medium), class: 'pull-right' %>

<% if !@product.name.blank? %>
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
<% end %>

<% if !@product.product_type.blank? %>
  <p>
    <strong>Product type:</strong>
    <%= @product.product_type %>
  </p>
<% end %>

<% if !@product.product_subtype.blank? %>
  <p>
    <strong>Product subtype:</strong>
    <%= @product.product_subtype %>
  </p>
<% end %>

<% if !@product.vintage.blank? %>
  <p>
    <strong>Vintage:</strong>
    <%= @product.vintage %>
  </p>
<% end %>

<% if !@product.country.blank? %>
  <p>
    <strong>Country:</strong>
    <%= @product.country %>
  </p>
<% end %>

<% if !@product.region.blank? %>
  <p>
    <strong>Region:</strong>
    <%= @product.region %>
  </p>
<% end %>

<% if !@product.appellation.blank? %>
  <p>
    <strong>Appellation:</strong>
    <%= @product.appellation %>
  </p>
<% end %>

<% if !@product.vineyard.blank? %>
  <p>
    <strong>Vineyard:</strong>
    <%= @product.vineyard %>
  </p>
<% end %>

<% if !@product.grape_varietals.blank? %>
  <p>
    <strong>Grape Varietals - General:</strong>
    <%= @product.grape_varietals %>
  </p>
<% end %>

<% if !@product.clones.blank? %>
  <p>
    <strong>Grape Varietals - Clones:</strong>
    <%= @product.clones %>
  </p>
<% end %>

<% if !@product.soil.blank? %>
  <p>
    <strong>Soil:</strong>
    <%= @product.soil %>
  </p>
<% end %>

<% if !@product.plot_characteristics.blank? %>
  <p>
    <strong>Plot Characteristics:</strong>
    <%= @product.plot_characteristics %>
  </p>
<% end %>

<% if !@product.yield.blank? %>
  <p>
    <strong>Yield / Vine Density:</strong>
    <%= @product.yield %>
  </p>
<% end %>

<% if !@product.harvest.blank? %>
  <p>
    <strong>Harvest:</strong>
    <%= @product.harvest %>
  </p>
<% end %>

<% if !@product.yeast.blank? %>
  <p>
    <strong>Yeast:</strong>
    <%= @product.yeast %>
  </p>
<% end %>

<% if !@product.accolades.blank? %>
  <p>
    <strong>Accolades:</strong>
    <%= @product.accolades %>
  </p>
<% end %>

<% if !@product.producer.blank? %>
  <p>
    <strong>Producer:</strong>
    <%= @product.producer %>
  </p>
<% end %>

<% if !@product.bottle_size.blank? %>
  <p>
    <strong>Bottle Size:</strong>
    <%= @product.bottle_size %>
  </p>
<% end %>

<% if !@product.style.blank? %>
  <p>
    <strong>Style:</strong>
    <%= @product.style %>
  </p>
<% end %>

<% if !@product.vinification_methods.blank? %>
  <p>
    <strong>Vinification Methods:</strong>
    <%= simple_format(@product.vinification_methods) %>
  </p>
<% end %>

<% if !@product.description.blank? %>
  <p>
    <strong>Description / Tasting Notes:</strong>
    <%= simple_format(@product.description) %>
  </p>
<% end %>

<hr />

<p><%= link_to "Edit", edit_brand_product_path(@brand, @product), class: 'btn btn-success btn-sm' %> <%= link_to "Delete", [@brand, @product], method: :delete, confirm: "Are you sure you want to delete this product?", class: 'btn btn-danger btn-sm' %></p>
</p>