<%= form_for @brand, html: { multipart: true } do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :viticulture %><br>
    <%= f.text_field :viticulture %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :appellation %><br>
    <%= f.text_field :appellation %>
  </div>
  <div class="field">
    <%= f.label :varietal %><br>
    <%= f.text_field :varietal %>
  </div>
  <div class="field">
    <%= f.label :soil_type %><br>
    <%= f.text_field :soil_type %>
  </div>
  <div class="field">
    <%= f.label :viticulturist %><br>
    <%= f.text_field :viticulturist %>
  </div>
  <div class="field">
    <%= f.label :enologist %><br>
    <%= f.text_field :enologist %>
  </div>
  <div class="field">
    <%= f.label :vineyard_size %><br>
    <%= f.text_field :vineyard_size %>
  </div>
  <div class="field">
    <%= f.label :total_production %><br>
    <%= f.text_field :total_production %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :remote_image_url, "or image URL" %><br />
    <%= f.text_field :remote_image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
