<h1>Brands</h1>

<div class="row">
  <% if @brands.exists? %>
    <% @brands.each_slice(4) do |brand| %>
      <div class="row">
        <% brand.each do |brand| %>
          <div class="col-md-3">
            <div class="center">
              <%= link_to (image_tag brand.image_url(:small).to_s, class: 'img-thumbnail'), brand %>
              <p><%= brand.name %> <br />
              <em><%= brand.appellation %></em></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row well">
  <% if current_user && current_user.admin? %>
  <div class="col-md-4">
    <h3>Add a New Brand</h3>
    <%= link_to "Add New", new_brand_path, class: 'btn btn-success btn-sm' %> 
  </div>
  <div class="col-md-4">
    <h3>Import Brands</h3>
      <%= form_tag import_brands_path, multipart: true do %>
        <p>
        <%= file_field_tag :file %>
        </p>
        <%= submit_tag "Upload Brands", class: 'btn btn-info btn-sm' %>
      <% end %>
  </div>
  <div class="col-md-4">
    <h3>Download Brands</h3>
    <%= link_to "Report", brands_path(format: "csv"), class: 'btn btn-primary btn-sm' %>  
  </div>
  <% end %>
</div>
