<h1>Brands</h1>

<% @alpha.each do |alpha, glossary_array| %>
  <h2><%= alpha %></h2>
    <% glossary_array.each do |brand| %>
      <p><%= link_to(brand.name, brand) %></p>
    <% end %>
<% end %>

<div class="row">
  <% if current_user && current_user.admin? %>
  <div class="col-md-4">
    <h3>Add a New Brand</h3>
    <%= link_to "Add New", new_brand_path, class: 'btn btn-success btn-sm' %> 
  </div>
  <div class="col-md-4">
    <h3>Import Brands</h3>
      <%= form_tag import_brands_path, multipart: true do %>
        <p>
        <%= file_field_tag :file %>
        </p>
        <%= submit_tag "Upload Brands", class: 'btn btn-info btn-sm' %>
      <% end %>
  </div>
  <div class="col-md-4">
    <h3>Download Brands</h3>
    <%= link_to "Report", brands_path(format: "csv"), class: 'btn btn-primary btn-sm' %>  
  </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>